#bridalcrew#section3
	.container
		.row.col-sm-10.col-centered
			%h1 Bridal Crew
			%img{:class=> "wedding_knot", :alt => "wedding knot", :src => "../assets/weddingknot.svg"}/

	.container
		.row.col-sm-10.col-md-10.col-centered
			%h2 Bridesmaids
			#bridesCarousel.carousel.slide{"data-ride" => "carousel"}
				/ Indicators
				%ol.carousel-indicators
					%li.active{"data-slide-to" => "0", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "1", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "2", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "3", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "4", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "5", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "6", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "7", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "8", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "9", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "10", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "11", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "12", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "13", "data-target" => "#bridesCarousel"}
					
				/ Wrapper for slides
				.carousel-inner{:role => "listbox"}
					.item.slide1.active
						=image_tag("rose.jpg", id:"#", :size => '250x250')
						%h2 Rose Libreri Giovannelli
						%h3 Maid of Honor-Sister of Bride  
						%p One of Lucia's older sisters, Rose has been and is still Lucia's style icon. Although growing up together was sometimes challenging due to stolen hair products, clothing and makeup, their sibling bond has only become stronger. With her amazing cooking skills, Rose can make quinoa taste delicious in any plate! With two children and a seven-year age gap, many still confuse the two of them as twins. (Rose loves it)		
					.item.slide2
						=image_tag("angela.jpg", id:"angela", :size => '250x250')
						%h2 Angela Libreri Guttilla
						%h3 Sister of Bride  
						%p Oldest sibling of the Libreri household, Angela has and will always be Mommy #2. Angela is the most nurturing, enthusiastic and reliable person Lucia's ever known. Besides using her hands to make the best pulled pork and heavenly cappuccino cheesecake, Angela's hands are always found on 2 and 10 on the steering wheel at all times, even when her favorite jam comes on the radio.  
					.item.slide4
						=image_tag("irma.jpg", id:"irma", :size => '250x250')
						%h2 Irma Cosentino Bondi 
						%h3 Future Sister-In-Law of Bride 
						%p One of the most fun, loud and intellectual accountants ever encountered, Irma is nothing short of a warm hearted individual. Irma loves no chip manicures, hosting awesome house parties and is uncomfortably good at Cards Against Humanity. Lucia couldn't be happier to gain Irma as another older sister. 
					.item.slide5
						=image_tag("laura.jpg", id:"#", :size => '250x250')
						%h2 Laura Cosentino  
						%h3 Future Sister-In-Law of Bride 
						%p Many would agree, Laura is the loudest in the Cosentino household. Lucia and Laura share hobbies of revining, drinking Moscato and bargain shopping. Being a cosmetologist, Laura has a passion for the beauty industry and will always manage to keep Lucia's strands of hair in place. Laura has a severe case of cinephilia with the ability to quote any and all movies she's ever watched. Lucia is lucky to gain Laura as a younger sister. 
					.item.slide3
						=image_tag("margaret.jpg", id:"#", :size => '250x250')
						%h2 Margaret Trupiano 
						%h3 Cousin of Bride 
						%p More of a sister than a cousin, Margaret has always been Lucia's go-to for laughs, a crying shoulder or a good movie to fall asleep to before it even begins. With a degree in fashion, Lucia likes to consider Margaret as her own personal stylist in desperate moments. Besides sharing their closets, they share an amazing relationship with unforgettable (and some embarrassing) life memories that continue to grow and multiple.
					.item.slide6
						=image_tag("amber.jpg", id:"amber", :size => '250x250')
						%h2 Amber Kral
						%h3 Future Sister-In-Law of Bride
						%p Also known as Puppa, Amber is a hugger, a snuggler and an amazing fiancé to Lucia's brother. When she's not mixing drinks behind the bar at Da Luciano's or leaving post-it notes on Lucia's car at work, you'll find Amber whipping up a mean dessert of layered deliciousness, known as Death by Chocolate. 
					.item.slide7
						=image_tag("cristina.jpg", id:"cristina", :size => '250x250')
						%h2 Cristina Lorusso 
						%h3 Close Friend of Bride
						%p Girlfriend of Lucia's older brother Pete, Cristina and Lucia have grown close with their common love for food. Lucia has never seen anyone polish more sushi rolls in a matter of minutes and still look as amazing as Cristina does. Besides sushi, Cristina and Lucia also share a love for memes and all things coconut. #nutsforcoconuts
					.item.slide8
						=image_tag("antonietta.jpg", id:"#", :size => '250x250')
						%h2 Antonietta Sparacio Libreri 
						%h3 Sister-In-Law of Bride 
						%p If anyone deserves a hug, it's Antonietta. Not only for putting up with one of the Libreri boys, but having enough patience to marry one as well. Her passion for cooking has never failed a hungry stomach in the kitchen. Antonietta has a fun, corky personality and has a talent and passion for drawing. 
					.item.slide9
						=image_tag("rosie.jpg", id:"#", :size => '250x250')
						%h2 Rosie Trupiano
						%h3 Cousin of Bride 
						%p One of Lucia's younger cousins, Rosie is a beautiful, fun individual who enjoys playing soccer, singing and spreading nutella on everything (almost as much as Margaret). Rosie can manage to make any selfie look flawless, no filters needed. At family gatherings during the summer, Rosie and Lucia partner in matches of volleyball and dare to challenge any opponents. 
					.item.slide10
						=image_tag("gina.jpg", id:"gina", :size => '250x250')
						%h2 Gina Fiorentino
						%h3 Cousin of Bride 
						%p Younger cousin of the bride, Gina is energetic, has a great sense of humor and has a contagious laugh. Gina and Lucia share every Sunday together at Nonna's house eating pasta and sharing stories. Gina has discovered her passion for the fashion industry and can make any manikin look classy from head to toe. Being one of her followers on Instagram and Facebook, Lucia cannot help but idolize this fashionista. 
					.item.slide11
						=image_tag("antonella.jpg", id:"#", :size => '250x250')
						%h2 Antonella Accolti
						%h3 Close Friend of Bride
						%p Besides Paolo, Antonella was Lucia's first college soul mate beginning freshman year and they have been inseparable ever since. Antonella enjoys reading Shakespeare, idolizes Marilyn Monroe and is an amazing makeup artist. Not only do Antonella and Lucia share a love for teaching, but they also share a love for the corniest movies (Master of Disguise), weirdest YouTube clips (Marcel the Shell) and frozen yogurt any time of the year (extra toppings please). 
					.item.slide12
						=image_tag("bianca.jpg", id:"#", :size => '250x250')
						%h2 Bianca Onrubia 
						%h3 Close Friend of Bride
						%p Otherwise known as B, she is probably the most amazing Filipino you will ever meet in your life. Bianca and Lucia were glued at the hips all through their grammar school years. From sleepovers, camping trips and exchanging nutella sandwiches for Filipino rice for lunch, they have been the closest of friends. Although B and Lucia currently live 92 miles apart from each other, distance has never come between their amazing friendship. 
					.item.slide13
						=image_tag("julia.jpg", id:"#", :size => '250x250')
						%h2 Julia Guttilla 
						%h3 Niece of Bride 
						%p Julia is the oldest of Lucia's two nieces. Although she may appear to be shy, Julia is a fun and energetic 8 year old. She loves gymnastics and will make any routine look flawless and painful (for those not flexible). Julia is also the only grandchild that will eat through her entire cannoli clean, and have it refilled by her grandpa, Nonno Luciano.  
					.item.slide14
						=image_tag("eva.jpg", id:"#", :size => '250x250')
						%h2 Eva Guttilla
						%h3 Flower Girl - Niece of Bride 
						%p Eva is Lucia's younger niece who loves warm hugs, glitter and everything sparkly. Her smile is contagious and her charm will melt every heart in the entire room. Eva has an impeccable singing voice, a love for spotlight and has hair that will always manage to cover her entire face, even after multiple attempts of trying to fix it. 
				%a.left.carousel-control{"data-slide" => "prev", :href => "#bridesCarousel", :role => "button"}
					%span.glyphicon.glyphicon-menu-left{"aria-hidden" => "true"}
					%span.sr-only Previous
				%a.right.carousel-control{"data-slide" => "next", :href => "#bridesCarousel", :role => "button"}
					%span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
					%span.sr-only Next


		//////// GROOMSMEN ////////
		.row.col-sm-10.col-md-10.col-centered
			%h2 Groomsmen
			#groomsCarousel.carousel.slide{"data-ride" => "carousel"}
				/ Indicators
				%ol.carousel-indicators
					%li.active{"data-slide-to" => "0", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "1", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "2", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "3", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "4", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "5", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "6", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "7", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "8", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "9", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "10", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "11", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "12", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "13", "data-target" => "#groomsCarousel"}
					
				/ Wrapper for slides
				.carousel-inner{:role => "listbox"}
					.item.slide1.active
						=image_tag("johnny.jpg", id:"johnny", :size => '250x250')
						%h2 Johnny Pezzuto
						%h3 Best man - Friend of Groom
						%p Between two trips to Italy together, Vegas, Mexico, four years of high school, four years of college and five years working together at the local golf course, the bond between Paolo and Johnny had no choice but to thicken. If that isn't enough bromance in one sentence, living two blocks apart and being daily workout buddies makes these two even more inseparable. Not so fast...it's not always lovey dovey between these two guys. They enjoy keeping each other in check and never hesitate to tell the other how it is. 
					.item.slide2
						=image_tag("anthony_b.jpg", id:"#", :size => '250x250')
						%h2 Anthony Bondi
						%h3 Brother-in-law of Groom
						%p Paolo waited patiently...27 anxious years later, he is proud to call Anthony his first brother. Anthony is always willing to lend a helping hand. Anthony is never biased in his opinions and can whip up a MEAN Sunday brunch that will leave you full for days. He and Paolo share many of the same interests including health, food and taking it easy.
					.item.slide3
						=image_tag("joey.jpg", id:"#", :size => '250x250')
						%h2 Joey Bruno
						%h3 Cousin of Groom
						%p Paolo has seen Joey grow into the finest, open-minded young man he is today. Joey and Paolo have shared many enthusiastic moments such as watching Bambi and Muzzy on VHS or trading Jigglypuff for Clefairy. They currently share the same enthusiasm for the comedian, Sebastian Maniscalco. Joey can recite the entire 2-hour "Aren't You Embarrassed?" comedy special. He also knows when Sebastian is coming to town, and somehow manages to purchase the presale tickets before the presale! If you want tickets, Joey's your guy.
					.item.slide4
						=image_tag("domenico.jpg", id:"#", :size => '250x250')
						%h2 Domenico DeRango
						%h3 Cousin of Groom
						%p Living in separate states and 70 miles of road between each other, Domenico and Paolo have never let a little distance get in the way of maintaining a strong relationship.  These two have survived a number of family trips, including a road trip to Toronto. Being two of 17 passengers, Domenico and Paolo shared an igloo cooler as their not optional seat for the entire 8 hours of travel.  Don’t forget to ask these guys about how they coproduced and directed the world famous "Free Willy Show"!
					.item.slide5
						=image_tag("adriano.jpg", id:"#", :size => '250x250')
						%h2 Adriano Cosentino
						%h3 Cousin of Groom
						%p Paolo's go-to fantasy football secret weapon. Whether its scarfing down freezer burnt fudge bars or referring to the "rainy days", Paolo and Adriano are always on the same page, even when no one in the room knows what's going on. At the annual San Francesco Feast, you will always see these two in their "certified" attire eating a freshly sliced soppressata sandwich. 
					.item.slide6
						=image_tag("iggy.jpg", id:"#", :size => '250x250')
						%h2 Iggy Libreri
						%h3 Future Brother-in-Law of Groom
						%p The loudest handshake River Grove has ever seen. Iggy ALWAYS has something nice to say and loves to toot Paolo's horn. Not many people would forgive you for spilling vesuvio juice all over their Calvin Klein Suit...Iggy would. Iggy has always treated Paolo like family, even before Lucia and Paolo were together.   
					.item.slide7
						=image_tag("pete.jpg", id:"peter", :size => '250x250')
						%h2 Peter Libreri
						%h3 Future Brother-in-Law of Groom
						%p Pete and Paolo have been very close friends since college. If Lucia hasn't given Paolo a compliment, Pete will never hesitate in stepping in and then bloat about Paolo's "massive" lats. Pete has been eating his words ever since he uttered that simple phrase: "Paolo, you should date my sister!" 
					.item.slide8
						=image_tag("aldo.jpg", id:"#", :size => '250x250')
						%h2 Aldo Libreri
						%h3 Future Brother-in-Law of Groom
						%p Out of the entire Libreri family, Aldo gives the strongest, brotherly bear hugs. He also has a new meme for every conversation that takes place at the dinner table and in the "Whole Family" group texts. After having the honor of standing up in Aldo's wedding, Paolo felt honored yet again, when Aldo excitedly accepted to be part of Paolo's big day.
					.item.slide9
						=image_tag("claudio.jpg", id:"#", :size => '250x250')
						%h2 Claudio Libreri
						%h3 Future Brother-in-Law of Groom
						%p Youngest of the Libreri family, Claudio will always be Paolo's "dawg". Confirmed and proudly stated, Paolo has seen Claudio with his shirt off more than he's seen him with his shirt on. Claudio can whip up the meanest frittata, risotto and steak tacos. Claudio and Paolo both share the same appreciation for country music as well as their strong man crush for Dierks Bentley.
					.item.slide10
						=image_tag("joe_g.jpg", id:"#", :size => '250x250')
						%h2 Joe Gutilla
						%h3 Future Brother-in-Law of Groom
						%p Whether it's a friendly game of foosball, ping-pong, bags or even golf, Joe always manages to bring out the competitive (and sweaty) side of Paolo. Fair warning, a platter of warmly baked chocolate chip cookies will not last very long with these two present. If he's not giving financial advice or golf tips, Joe (with his fatherly instinct) finds himself watching Peppa Pig, Sophia the First or Frozen live and DVRed. 
					.item.slide11
						=image_tag("jerry.jpg", id:"#", :size => '250x250')
						%h2 Jerry Giovannelli
						%h3 Future Brother-in-Law of Groom
						%p When Paolo says he "knows a guy", Jerry is "the guy" he's referring to. Jerry has taught Paolo many skills and lessons, not only through his honest advice, but also through his work ethic and creative mindset. Whether he's chasing squirrels or creating homemade, award winning Halloween costumes for his children, Jerry will always leave your abs feeling sore with his endless jokes and subtle sarcasm.  
					.item.slide12
						=image_tag("joe_l.jpg", id:"#", :size => '250x250')
						%h2 Joe Lipsey
						%h3 Close Friend of Groom
						%p Tossin' bags, drinkin' beers and grillin' brats: this sums up typical summer weekends at "Joey-too-smooth Lipper's" house. –Shirt: Optional...and by optional I mean tossed on the table and forgetting it ever existed. Speaking of shirt..Fellas, if you ever need a dress shirt steamed, ironed or pressed, Joe's your guy. Specialties include salsa dancing and flat dumbbell/barbell bench press (most incredible bench to body weight ratio).
					.item.slide13
						=image_tag("anthony_g.jpg", id:"#", :size => '250x250')
						%h2 Anthony Giovannelli
						%h3 Future Nephew of Groom
						%p The most creative, curious kid Paolo has ever met. Anthony has more energy than the energizer bunny himself. When he is not questioning what high cholesterol is or the reason for a Myocardial Infarction, he is busy doing cartwheels, back flips and hand stands in his living room. Anthony enjoys a hobby of drawing and is destined to be the next Van Gogh.
					.item.slide14
						=image_tag("https://s3-us-west-2.amazonaws.com/plc0903/liljohn.jpg", id:"#", :size => '250x250')
						%h2 John Giovannelli
						%h3 Ring Boy - Future Nephew of Groom
						%p Even after he cold-heartedly rejected the formal request of being the Ring Bearer, he graciously accepted upon opening his gift and his eyes beheld a blueberry ring pop. Hide your IPads, gum, belts and ear lobes, all things John is obsessed with and will leave you surrendering. John is also notorious for hacking cell phones and downloading apps without consent. 

					/ Left and right controls
					%a.left.carousel-control{"data-slide" => "prev", :href => "#groomsCarousel", :role => "button"}
						%span.glyphicon.glyphicon-menu-left{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#groomsCarousel", :role => "button"}
						%span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
						%span.sr-only Next