#bridalcrew#section3
	.container
		.row.col-sm-10.col-centered
			%h1 Bridal Crew

	.container
		.row.col-sm-10.col-md-10.col-centered
			%h2 Bridesmaids
			#bridesCarousel.carousel.slide{"data-ride" => "carousel"}
				/ Indicators
				%ol.carousel-indicators
					%li.active{"data-slide-to" => "0", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "1", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "2", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "3", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "4", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "5", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "6", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "7", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "8", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "9", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "10", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "11", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "12", "data-target" => "#bridesCarousel"}
					%li{"data-slide-to" => "13", "data-target" => "#bridesCarousel"}
					
				/ Wrapper for slides
				.carousel-inner{:role => "listbox"}
					.item.slide1.active
						=image_tag("pic.jpg", id:"#")
						%h2 Rose Libreri Giovannelli
						%h3 Maid of Honor-Sister of Bride  
						%p One of my older sisters, Rose has been and is still my style icon. Although growing up together was sometimes challenging due to stolen hair products, clothing and makeup, our sibling bond has only become stronger. With a seven year age gap, many still confuse the two of us as twins. (Rose loves it)			
					.item.slide2
						=image_tag("pic.jpg", id:"#")
						%h2 Angela Libreri Guttilla
						%h3 Sister of Bride  
						%p Oldest sibling of the Libreri household, Angela has and will always be Mommy #2. Angela is the most genuine and safest person I've ever known. And by safe, I mean hands on 2 and 10 on the steering wheel at all times, even when her favorite jam comes on the radio. With a love for dancing and a laugh so vibrant and loud, you can't help but fall in love with Angela's fun, likeable and entertaining personality. 
					.item.slide3
						=image_tag("pic.jpg", id:"#")
						%h2 Margaret Trupiano 
						%h3 Cousin of Bride 
						%p More of a sister than a cousin, Margaret has always been my go-to for laughs, a crying shoulder or a good movie to fall asleep to before it even starts. Being a fashion major, I like to consider Margaret as my own personal stylist in desperate moments. Besides sharing our closets, we share an amazing relationship with unforgettable (and some embarrassing) life memories that continue to multiple. 
					.item.slide4
						=image_tag("pic.jpg", id:"#")
						%h2 Irma Cosentino Bondi 
						%h3 Future Sister-In-Law of Bride 
						%p One of the most fun, loud and intellectual accountants ever encountered, Irma is nothing short of a warm hearted individual. Irma loves no chip manicures, hosting awesome house parties and is uncomfortably good at Cards Against Humanity. 
					.item.slide5
						=image_tag("pic.jpg", id:"#")
						%h2 Laura Cosentino  
						%h3 Future Sister-In-Law of Bride 
						%p Laura is the second loudest in the Cosentino household. We share hobbies of revining %i.fa.fa-vine , drinking Moscato and shopping. Being a cosmetologist, Laura has a passion for the beauty industry. Laura has a severe case of cinephilia with the ability to quote any and all movies she's ever watched.  
					.item.slide6
						.container
							#content-slider
								#slider
									#mask
										%ul
											%li#first.firstanimation
											%li#second.secondanimation
											%li#third.thirdanimation
											%li#fourth.fourthanimation
						%h2 Amber Kral
						%h3 Future Sister-In-Law of Bride
						%p Also known as Puppa, Amber is a hugger, a snuggler and an amazing fiancé to my brother. When she's not mixing drinks behind the bar at Da Luciano's or leaving post-it notes on my car at work, you'll find Amber whipping up a mean dessert of layered deliciousness, known as Death by Chocolate.
					.item.slide7
						=image_tag("pic.jpg", id:"#")
						%h2 Cristina Lorusso 
						%h3 Close Friend of Bride
						%p Girlfriend of my older brother Pete, Cristina and I have grown close with our common love for food. I have never seen anyone polish more sushi rolls and still look as amazing as Cristina does. Besides sushi, Cristina and I also share a love for memes and all things coconut. #nutsforcoconuts
					.item.slide8
						=image_tag("pic.jpg", id:"#")
						%h2 Antonietta Sparacio Libreri 
						%h3 Sister-In-Law of Bride 
						%p If anyone deserves a hug, its Antonietta. Not only for putting up with one of the Libreri boys, but marrying one as well. Her passon for cooking has never failed a hungry stomach in the kitchen. Antonietta has a fun and corky personality and has a passion for drawing. 
					.item.slide9
						=image_tag("pic.jpg", id:"#")
						%h2 Rosie Trupiano
						%h3 Cousin of Bride 
						%p One of my younger cousins, Rosie is a beautiful, fun individual who enjoys playing soccer, singing and spreading nutella on everything (maybe not as much as Margaret). This sassy girl not only has the most selfies, but the best looking selfies on social media.
					.item.slide10
						=image_tag("pic.jpg", id:"#")
						%h2 Gina Fiorentino
						%h3 Cousin of Bride 
						%p Younger cousin of the bride, Gina is energetic, has a great sense of humor and has a contagious laugh. Gina has discovered her passion for the fashion industry and can make any manikin look classy from head to toe. Being one of her followers on instagram and facebook, Gina wins most likes on any picture she's ever posted. 
					.item.slide11
						=image_tag("pic.jpg", id:"#")
						%h2 Antonella Accolti
						%h3 Close Friend of Bride
						%p Besides Paolo, Antonella was my first college soul mate beginning freshman year and we've been inseparable ever since. Antonella enjoys reading Shakespeare, idolizes Marilyn Monroe and is an amazing makeup artist. Not only do we share a love for teaching, but we also share a love for the corniest movies (Master of Disguise), weirdest YouTube clips (Marcel the Shell) and frozen yogurt any time of the year (extra toppings please). 
					.item.slide12
						=image_tag("pic.jpg", id:"#")
						%h2 Bianca Onrubia 
						%h3 Close Friend of Bride
						%p Otherwise known as B, she is probably the most amazing Filipino you will ever meet in your life. B and I were glued at the hips all through our grammar school years. From sleepovers, camping trips and exchanging nutella sandwiches for Filipino rice for lunch, we have been the closest of friends. Although we currently live 92 miles apart from each other, distance has never come between our amazing friendship.
					.item.slide13
						=image_tag("pic.jpg", id:"#")
						%h2 Julia Guttilla 
						%h3 Niece of Bride 
						%p Julia is the oldest of my two nieces. Although she may appear to be shy, Julia is a fun and energetic 8 y.o. She loves gymnastics and will make any routine look flawless and painful (for those not flexible). Julia is also the only grandchild that will eat through her cannoli clean, and have it refilled by Nonno. 
					.item.slide14
						=image_tag("pic.jpg", id:"#")
						%h2 Eva Guttilla
						%h3 Niece of Bride 
						%p Eva is my younger niece who loves warm hugs, glitter and everything sparkly. Her smile is contagious and her charm will melt every heart in the entire room. Eva has an impeccable singing voice, a love for spotlight and has hair that will always manage to cover her entire face. 
				/ Left and right controls
				%a.left.carousel-control{"data-slide" => "prev", :href => "#bridesCarousel", :role => "button"}
					%span.glyphicon.glyphicon-menu-left{"aria-hidden" => "true"}
					%span.sr-only Previous
				%a.right.carousel-control{"data-slide" => "next", :href => "#bridesCarousel", :role => "button"}
					%span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
					%span.sr-only Next


		//////// GROOMSMEN ////////
		.row.col-sm-10.col-md-10.col-centered
			%h2 Groomsmen
			#groomsCarousel.carousel.slide{"data-ride" => "carousel"}
				/ Indicators
				%ol.carousel-indicators
					%li.active{"data-slide-to" => "0", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "1", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "2", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "3", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "4", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "5", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "6", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "7", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "8", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "9", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "10", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "11", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "12", "data-target" => "#groomsCarousel"}
					%li{"data-slide-to" => "13", "data-target" => "#groomsCarousel"}
					
				/ Wrapper for slides
				.carousel-inner{:role => "listbox"}
					.item.slide1.active
						=image_tag("pic.jpg", id:"#")
						%h2 Johnny Pezzuto
						%h3 Best man - Friend of Groom
						%p Between two trips to Italy together, Vegas, Mexico, high school, college, and working together at the local golf course, Paolo and Johnny even see each other every morning at the gym. You think these two would get sick of each other..
					.item.slide2
						=image_tag("pic.jpg", id:"#")
						%h2 Anthony Bondi
						%h3 Brother-in-law of Groom
						%p Paolo waited patiently. 27 years later, he is proud to call Anthony, his first brother. Anthony is always willing to lend a helping hand. He never biased in his opinions and he and Paolo share many of the same interests including health, food and relaxing.
					.item.slide3
						=image_tag("pic.jpg", id:"#")
						%h2 Joey Bruno
						%h3 Cousin of Groom
						%p Paolo has seen Joey grow into the finest, open minded young man he knows. Joey is ALWAYS up for trying something new, and always puts his best foot forward. Joey and Paolo have shared many enthusiasms throughout the years, watching Bambi, trying to understand Muzzy or trading Pokemon for Pokemon. Today they share the same enthusiasm for the comedian, Sebastian Maniscalco. Joey can recite the entire 2 hour "Aren't You Embarressed?" comedy special. Joey also knows when Sebastian is coming to town, he gets the presale to the presale! If you want tickets front and center, Joey's your guy.
					.item.slide4
						=image_tag("pic.jpg", id:"#")
						%h2 Dominico DeRango
						%h3 Cousin of Groom
						%p Living in separate states and 70 miles of road between each other, Domenico and Paolo are not going to let a little distance keep these guys away from keeping a strong relationship. Surviving trips to Florida, Canada and 
					.item.slide5
						=image_tag("pic.jpg", id:"#")
						%h2 Adriano Cosentino
						%h3 Cousin of Groom
						%p Paolo's go to fantasy football secret weapon. Whether it's scarfing down freezer burnt fudge bars or referring to the "rainy days". Paolo and Adriano are always in the same page, even when no one in the the room knows what's going on. 
					.item.slide6
						=image_tag("pic.jpg", id:"#")
						%h2 Iggy Libreri
						%h3 Future Brother-in-Law of Groom
						%p The loudest handshake River Grove has ever seen. Iggy ALWAYS has something nice to say and loves to puff Paolo's chest. Not many people would forgive you for spilling vesuvio juice all over thier Calvin Klien Suit. Iggy would. Iggy has always treated Paolo like family, even before Lucy and Paolo were together.
					.item.slide7
						=image_tag("pic.jpg", id:"#")
						%h2 Peter Libreri
						%h3 Future Brother-in-Law of Groom
						%p Pete and Paolo have been good friends since college. Pete has been eating his words ever since he uttered those six simple words: "Paolo, you should date my sister!" 
					.item.slide8
						=image_tag("pic.jpg", id:"#")
						%h2 Aldo Libreri
						%h3 Future Brother-in-Law of Groom
						%p Out of the whole Libreri family, Aldo gives the strongest brotherly bear hugs. He also has a new meme for every conversation that takes place at the dinner table. After having the honor of standing up in Aldo's wedding, Paolo felt honored yet again, when Aldo excitedly accepted to be part of Paolo's wedding party. 
					.item.slide9
						=image_tag("pic.jpg", id:"#")
						%h2 Claudio Libreri
						%h3 Future Brother-in-Law of Groom
						%p Claudio can whip up the meanest breakfast Paolo has ever seen. Claudio and Paolo both share the same appreciation for country music as well as thier strong man crush for Dierks Bentley. 
					.item.slide10
						=image_tag("pic.jpg", id:"#")
						%h2 Joe Gutilla
						%h3 Future Brother-in-Law of Groom
						%p Whether it's a friendly game of foosball, ping pong, bagss or even golf, Joe always manages to bring out the competitive side of Paolo. The side only a select few have had the privalge of witnessing.
					.item.slide11
						=image_tag("pic.jpg", id:"#")
						%h2 Jerry Giovannelli
						%h3 Future Brother-in-Law of Groom
						%p When Paolo says he "knows a guy", Jerry is the "the guy" he's referring to. Jerry has taught Paolo many skills and lessons, not only through his honest advice, but also through his work ethic and creative mindset.
					.item.slide12
						=image_tag("pic.jpg", id:"#")
						%h2 Joe Lipsey
						%h3 Close Friend of Groom
						%p Tossin bags, drinkin beers and grillin brats. This sums up typical Summer weekends at "Joey-too-smooth Lipper's" house. --Shirt: Optional..and by optional I mean tossed on the table and forgetting it ever existed. Fellas: If you ever need a dress shirt steamed, pressed and/or ironed, Joe's your guy.
					.item.slide13
						=image_tag("pic.jpg", id:"#")
						%h2 Anthony Giovannelli
						%h3 Future Nephew of Groom
						%p The most creative, curious kid Paolo has ever met. Anthony is always full of energy and when he is not questioning what high cholesteral is or the reason for a Myocardial Infarction, he is busy becoming the new Van Gogh, challenging himself with elagant new drawings.
					.item.slide14
						=image_tag("pic.jpg", id:"#")
						%h2 John Giovannelli
						%h3 Future Nephew of Groom
						%p Even after he cold-heartedly rejected the formal request of being the Ring Bearer, he graciously accepted upon opening his gift and his eyes beheld the Blueberry Ring Pop. Paolo and Lucia are super excited to have John part of their special day! 

					/ Left and right controls
					%a.left.carousel-control{"data-slide" => "prev", :href => "#groomsCarousel", :role => "button"}
						%span.glyphicon.glyphicon-menu-left{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#groomsCarousel", :role => "button"}
						%span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
						%span.sr-only Next