.fill
	#myCarousel.carousel.slide{"data-ride" => "carousel"}
		/ Indicators
		%ol.carousel-indicators
			%li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "5", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "6", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "7", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "8", "data-target" => "#myCarousel"}
			%li{"data-slide-to" => "9", "data-target" => "#myCarousel"}
			%br
			%a.hashtag{:href => "https://www.instagram.com/explore/tags/oncloudcosentino/", :target => "_blank"} #oncloudcosentino
		/ Wrapper for slides
		.carousel-inner{:role => "listbox"}
			.item.slide1.active				
			.item.slide2
			.item.slide3
			.item.slide4
			.item.slide5
			.item.slide6
			.item.slide7
			.item.slide8
			.item.slide9
			.item.slide10
		/ Left and right controls
		%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
			%span.glyphicon.glyphicon-menu-left{"aria-hidden" => "true"}
			%span.sr-only Previous
		%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
			%span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
			%span.sr-only Next
		#carouselButtons
			%button#playButton.btn.btn-default.btn-xs{:type => "button"}
				%span.glyphicon.glyphicon-play
			%button#pauseButton.btn.btn-default.btn-xs{:type => "button"}
				%span.glyphicon.glyphicon-pause
			