#navigation
	%nav.navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
		.container
			.navbar-header
				%button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
			/ Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				.row
					%ul.nav.navbar-nav.col-sm-12
						%li.col-xs-12.col-sm-3
							%a#link1.nav-section1{:href => "#section1"} Our Story
						%li.col-xs-12.col-sm-3
							%a#link2.nav-section2{:href => "#section2"} Wedding Info
						%li.col-xs-12.col-sm-3
							%a#link3.nav-section3{:href => "#section3"} Bridal Crew
						%li.col-xs-12.col-sm-3
							%a#link3.nav-section4{:href => "#section4"} Registry