#section1
	.container
		.row.col-sm-10.col-centered
			%h1 Our Story
			%h3 December 2011:
			%p Lucia sends Paolo New Years wishes, giving Paolo a boost of confidence...

			%h3 January 2012:
			%p During a casual lunch at Portillo's, Paolo asks Pete (Lucia's brother) thoughts about taking Lucia out on a date. Without hesitation, blessings and 7 digits were given...Lucia receives a missed phone call and voicemail from an unknown caller. After listening to the voicemail, Lucia returns the call and the beginning of forever began.

			%p Date #1 Pinstripe Bowling: Being nothing less than one to impress, Paolo arrives at Lucia's house and opens the passenger car door...(what a gentleman)
			%p The date went well btw...
			
			%h3 February 2012: 
			%p Date #2: Ice skating and Warm beverages. After gliding on ice for an hour, we made our way to Lucia's favorite warm beverage destination: Starbucks! Paolo's order of "whatever she's having" turned out to be his very first experience of Lucia's favorite Vanilla Soy Chai Latte.
			
			%em ~ fast-forward 3 months ~

			%h3 May 2012:
			%p After receiving her Bachelor's Degree from Dominican University earlier that morning, Paolo takes Lucia out for sushi where he plans to ask a very important question... (pump the brakes, no ring yet)
			%p Lucia excitedly accepts his request to become an official couple to the world.
			
			%h3 October 2012:
			%p Paolo takes Lucia out for a birthday dinner and surprises her with two tickets to see "I Love Lucy" Live on Stage. You might say it was coincidence, but Paolo strategically planned to tell Lucia for the first time, those three magical words...
			
			%em ~ fast-forward 2 and a half years ~			
			
			%h1 The Proposal
			%h3 May 23, 2015
			%p Paolo informs Lucia about a "Secret Signing" he is invited to downtown, where Paolo plans to get his guitar signed by his favorite musician. Upon arriving downtown, with some time to kill, Paolo and Lucia took a stroll around Buckingham Fountain. During their stroll, Paolo informs Lucia about a "Couples Quiz" he previously filled out and it was her turn to go through the quiz to see how compatible they are. Paolo gave Lucia the link, llwymm.com which was later revealed to Lucia that the site was actually created by Paolo and the URL truly stood for "Lucia Libreri Will You Marry Me". Needless to say Lucia breezed through the first questions effortlessly. The 10th question however, was one Lucia was unaware of: "Paolo has been practicing a song on the guitar for the past couple months. What song is that?" After a few attempts, Lucia gets the correct answer. She is unfamiliar with the song so Paolo offers to play it for her. 

			%p The song is titled "My Last Name" by none other, Dierks Bentley. By the last verse a small crowd drew near anticipating a special moment. The last verse sung the words...

			%i.fa.fa-music
			%i.fa.fa-music
			%i.fa.fa-music
			%em.col-sm-6.col-centered "So, darlin' if you're wonderin' why I've got you here tonight,
			%em.col-sm-6.col-centered I wanna to be your husband, I want you to be my wife,
			%em.col-sm-7.col-centered I ain't got much to give you, but what I've got means everything, 
			%em.col-sm-6.col-centered It's my last name." 
			%i.fa.fa-music
			%i.fa.fa-music
			%i.fa.fa-music
			

	.container
		.row
			%a#single_1.fancybox{:href => "../assets/SlideC1.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC1_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC2.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC2_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC3.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC3_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC4.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC4_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC5.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC5_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC6.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC6_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC7.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC7_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC8.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC8_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC9.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC9_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideC10.jpg", :title => "", rel: "chris"}
				%img{:alt => "", :src => "../assets/SlideC10_thumbnail.jpg"}/


		.row
			%a#single_1.fancybox{:href => "../assets/SlideK1.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK1_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK2.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK2_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK3.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK3_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK4.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK4_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK5.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK5_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK6.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK6_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK7.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK7_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK8.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK8_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK9.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK9_thumbnail.jpg"}/
			%a#single_1.fancybox{:href => "../assets/SlideK10.jpg", :title => "", rel: "kristy"}
				%img{:alt => "", :src => "../assets/SlideK10_thumbnail.jpg"}/






