#ourstory#section1
	%h1 Our Story

	.container
		.row
			%h2 December 2011:
			Lucia sends Paolo New Years wishes, which gave Paolo a boost of confidence…
			%h2 January 2012: 
			During a casual lunch at Portillos, Paolo asks Pete (Lucy’s brother) thoughts about taking Lucy out on a date. Without hesitation, blessings and 7 digits were given…
			Lucia receives a missed phone call and voicemail from an unknown caller. After listening to the voicemail over and over, Lucy returns the call and the beginning of forever began…
			Paolo arranges a causal and fun first date at Pinstripes. Being nothing less than one to impress, Paolo arrives at Lucia’s house and opens the passenger car door…
			The date went well btw…
			%h2 February 2012: 
			Date #2 was again arranged by Paolo for a night of ice skating and “warm beverages”.  After gliding on ice for an hour, we made our way to Lucia’s (and every girls’) favorite “warm beverage” destination: Starbucks. Paolo’s order of “whatever she’s having” turned out to be his very first experience of Lucia’s favorite “Vanilla Soy Chai Latte” (Grande) 
			%h2 May 2012:
			After receiving her Bachelor’s Degree from Dominican University earlier that morning, Paolo arranges another date at RA Sushi Restaurant where he plans to ask a very important question…. (relax, no ring yet).
			Lucia passed the chopstick test, and accepted his request to become an official couple to the world (aka Facebook).
			%h2 October 2012:
			Paolo takes Lucia out for a surprise birthday dinner and an “I Love Lucy” theatrical performance show. You might say it was coincidence, but strategic Paolo cleverly planned to tell Lucia for the first time, “Lucy, I Love You” 
			(OR)
			After a romantic birthday dinner downtown and an amazing theatrical live performance of “I Love Lucy”, Paolo and Lucia shared their first “I Love You” moment.
			Two and a half years later, on May 23, 2015 Paolo and Lucia make their way downtown to what Lucia thinks is just an ordinary day. Bringing his guitar along, Paolo used his persuasive skills to play a song hed been “casually” learning. The title of this song was “My Last Name” by none other, Dierks Bentley. The last verse sung the words “So, darling if you’re wonderin’ why I have you here tonight, I want to be your husband, I want you to be my wife. I don’t have much to give you, but one thing that I have, is my last name.” 

%hr



