#registry#section4
	%h1 Registry

	.container
		.row
			%a.hashtag.hidden-xs{:href => "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542986784&pwsurl=", :target => "_blank"} Bed Bath & Beyond
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br