#registry#section4
	.container
		.row
			.col-xs-10.col-centered
				%h1 Registry
				%img{:class=> "wedding_knot", :alt => "wedding knot", :src => "../assets/weddingknot.svg"}/


	.container
		.row
			%p.col-sm-12 What we want most for our wedding is to have all of our friends and family there to celebrate the occasion with us, and so, more than anything we would simply enjoy your presence. With that said, we also enjoy selfie sticks, wooden spoons and pasta strainers too, but if you need some help picking some things out, you can find some suggestions here: 
		.row
			%a{:href => "http://www1.macys.com/registry/wedding/guest/?registryId=6538541", :target => "_blank"}
				=image_tag("macys.jpg", id:"macys")

			%a{:href => "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542986784&pwsurl=", :target => "_blank"}
				=image_tag("bbb.jpg", id:"bbb")

			%a{:href => "https://secure.williams-sonoma.com/registry/gz5ltkfwdd/registry-list.html", :target => "_blank"}
				=image_tag("williams.jpg", id:"williams")
	
#footer
	.container
		.row
			%p.col-sm-12 Help us capture memories of the upcoming events and festivities leading to our big day! Use this hashtag to tag your photos in this album. 
			%a.col-sm-12.hashtag{:href => "https://www.instagram.com/explore/tags/oncloudcosentino/", :target => "_blank"} #oncloudcosentino

			%p.col-sm-12 We also want to give a speical thank you to the following photographers who captured the essence of our engagement:
			%a.col-xs-12.col-sm-12.col-centered.agnes{:href => "http://www.agnesmalorny.com/", :target => "_blank"} Agnes Malorney
			%a.col-xs-12.col-sm-12.col-centered.kristy{:href => "https://kristyreneephotography.wordpress.com/", :target => "_blank"} Kristy Renee
			%a.col-xs-12.col-sm-12.col-centered.christopher{:href => "https://www.facebook.com/christopher.giglio.75?fref=ts", :target => "_blank"} Christopher Giglio

			%p.col-sm-12 Please email Paolo and Lucia with any questions
			%a.col-sm-12{:href => "mailto:paoloandlucy2016@gmail.com?Subject=Hi%20there%20:)", :target => "_top"} paoloandlucy2016@gmail.com
			#credits
				.row
					%h2.col-xs-12 Site designed and created by: fabulous Bride and ordinary Groom
