#registry#section4
	%h1 Registry

	.container
		.row
			%p.col-sm-12 What we want most for our wedding is to have all of our friends and family there to celebrate the occasion with us, and so, more than anything we would simply enjoy your presence. With that said, we also enjoy dishware, wooden spoons and pasta strainers too, so if you really would like to get us something, you can find some suggestions here: 
		.row
			%a{:href => "#", :target => "_blank"}
				=image_tag("cratebarrel.jpg", id:"cratebarrel")

			%a{:href => "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542986784&pwsurl=", :target => "_blank"}
				=image_tag("bbb.jpg", id:"bbb")

			%a{:href => "#", :target => "_blank"}
				=image_tag("williams.jpg", id:"williams")
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br
			%br