#weddinginfo#section2
	%h1 Wedding Info

	.container
		.row
			%h2 Saturday, September 3rd, 2016

		.row
			%h2 Ceremony 1:00pm
			%h3 St. Eugene Church, 
			%h3 7958 W Foster Ave, Chicago, IL 60656

		.row
			%h2 Reception
			%h3 Villa Brunetti Banquets
			%h3 9755 W Grand Ave, Franklin Park, Il 60131
