#weddinginfo#section2
	.container
		.row
			.col-xs-10.col-centered 
				%h1 Wedding Info
				%img{:class=> "wedding_knot", :alt => "wedding knot", :src => "../assets/weddingknot.svg"}/


	.container
		.row.shower.col-sm-6
			%h2 Bridal Shower
			%p Sunday, June 26th, 2016
			%p Poretta's Banquet Hall, 
			%i.fa.fa-map-marker
			%a{:href => "https://goo.gl/maps/mBrfMs7akaE2", :target =>"_blank"} 3718 N Central Ave, Chicago, IL 60634


		.row.wedding.col-sm-6
			%h2 Wedding
			%h3 Ceremony 1:00pm
			%p Saturday, September 3rd, 2016
			%p St. Eugene Church, 
			%i.fa.fa-map-marker
			%a{:href => "https://goo.gl/maps/bxjk1Y5fEwK2", :target =>"_blank"} 7958 W Foster Ave, Chicago, IL 60656

			%br
			%br
			%h3 Reception 6:30pm Cocktails
			%p Villa Brunetti Banquets
			%i.fa.fa-map-marker
			%a{:href => "https://goo.gl/maps/Btrw5B1QN822", :target =>"_blank"} 9755 W Grand Ave, Franklin Park, Il 60131


