#weddinginfo#section2
	%h1 Wedding Info

	.container
		.row.shower.col-sm-6
			%h2 Bridal Shower
			%p Sunday, June 26th, 2016
			%p Poretta's Banquet Hall, 
			%p 3718 N Central Ave, Chicago, IL 60634



		.row.wedding.col-sm-6
			%h2 Wedding
			%p.subtitle Ceremony 1:00pm
			%p Saturday, September 3rd, 2016
			%p St. Eugene Church, 
			%p 7958 W Foster Ave, Chicago, IL 60656


			%p.subtitle Reception 6:00pm Cocktails
			%p Villa Brunetti Banquets
			%p 9755 W Grand Ave, Franklin Park, Il 60131

