html { 
  background:asset-data-url("cover-photo.jpg") no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	font-family: 'Amatic SC', cursive; 
	text-align: center;
}
h1{
	margin:0;
	font-size: 3em;
}
h3{
	margin-top: 0;
  margin-bottom: 0;
  padding-top: .2em;
}