body{
	font-family:'Amatic SC', sans-serif;
	text-align: center;
}

#navigation{
	position: fixed;
	z-index: 2;
	background: #fff;
	width: 100%;
	ul{
		li{
			list-style: none;
			display: inline-block;
			font-size: 1.8em;
		}
		.logo{
			background:asset-data-url("pl-logo.png") no-repeat;
			height: 196px;
			top:.5em; 
			// display: inline-block;
			// width: 196px;
			// position: fixed;
		}
	}
}
.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	background:#fff;
	color:#000;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color:#ffffff;
	background:#999999;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #999999;
}
.navbar-inverse .navbar-toggle {
    background: #999999;
    border-color: #999999;
}

.navbar-inverse .navbar-nav > li > a {
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #999999;
	transition: 0.2s all linear;
	height: 100%;
}












a {
  color: #f46830; 
  &:hover {
    color: #4fb3e8;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
  }
  text-decoration: none;}






ul li a {
  display: block;
  padding: 20px;
  font-weight: 200;
  &:hover {
    color: #fff;
    background: #e6764e;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }
  color: #fff;
  text-decoration: none;}
















.carousel .item img{
   width: auto;
   height: 100vh;
   min-width: 100%;
   background-size: cover;
}
.carousel-inner>.item>img{
	max-width:initial;
}
#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}
#countdown{
  text-align:center;
  font-size:3em;
  font-weight:bold;
}

#ourstory{
	background:asset-data-url("bgwood2.jpg") repeat;
	color:#ffffff;
}









////////////// MEDIA QUERIES //////////////
@media screen and (min-width: 1499px) {
	.carousel .item img{
		border:2px solid red;
		background-position: initial;
	}
}	
@media screen and (max-width: 1100px) {
	.carousel .item img{
		width:100%;
		height: initial;
	}
}


@media screen and (max-width: 767px) {
	#navigation{
		ul.navbar-nav{
			margin-top:0;
			margin-bottom:0;
		}
		.navbar-inverse .navbar-nav > li > a{
  	  padding: 20px;
    	font-size: 1.5em;
		}
		.navbar-inverse .navbar-nav > li {
			padding-right:0;
		}	
	}
	#countdown{
		font-size: 2.5em;
		h1{
			font-weight: bold;
			margin-top:0;
			margin-bottom:-10px;
		}
	}
	.carousel-indicators{
		z-index:1;
	}
}
@media screen and (max-width: 430px) {
	.carousel-indicators{
		bottom:0;
	}
	.carousel-indicators li{
		width: 5px;
    height: 5px; 
	}
	.carousel-indicators li.active{
		width: 7px;
    height: 7px;
	}
	#countdown{
		font-size: 2em;
	}
}















