$blue: #B8DBEC;
// RAILS_ENV=production bundle exec rake assets:precompile
body{
	font-family:'Amatic SC', sans-serif;
	text-align: center;
	p{
		font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2em;
  }
  a{
  	color:$blue;
  	cursor:pointer;
  	text-decoration: underline;
  }
}
.col-centered{
	float: none;
  margin: 0 auto;
}
h1{
  padding-bottom: .2em;
}
img.wedding_knot {
  width: 15em;
}
//////////////// NAVIGATION ////////////////
#navigation{
	position: fixed;
	z-index: 2;
	background: #fff;
	width: 100%;
	ul{
		li{
			text-decoration: underline;
			-moz-text-decoration-color: #9d9d9d;
			text-decoration-color: #9d9d9d; 
			list-style: none;
			display: inline-block;
			font-size: 1.8em;
			padding:0;
		}
	}
	.home_button a{
		background:asset-data-url("ourlogo.svg") no-repeat;
		width:125px;
		height: 105px;
		position: absolute;
    top: 31px;
    left: 44.93%;
    z-index: 1;
	}
}
.navbar-nav {
  margin-top:-1px;
  padding-right:0;
}
.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	background:#fff;
	color:#000;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color:#ffffff;
	background:#999999;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #999999;
}
.navbar-inverse .navbar-toggle {
    background: #999999;
    border-color: #999999;
}
.navbar-inverse .navbar-nav > li > a {
	padding: 30px 25px 33px 25px;
}
.navbar-inverse .navbar-nav > li > a:focus{
	color:$blue;
}
.navbar-inverse .navbar-nav li a:hover {
	background-color: #999999;
	transition: 0.2s all linear;
	height: 100%;
	color:$blue;
	text-decoration: underline;
	-moz-text-decoration-color: $blue;
	text-decoration-color: $blue; 
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color:$blue;
}

#nav-icon3{
  width: 50px;
  height: 45px;
  position: relative;
  // margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 75%;
  border-radius: 9px;
  opacity: 1;
  left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 9px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 25px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



a {
  color: red; 
  &:hover {
    color: #4fb3e8;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
  }
  text-decoration: none;}

ul li a {
  display: block;
  padding: 20px;
  font-weight: 200;
  &:hover {
    color: #fff;
    background: #e6764e;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }
  color: #fff;
  text-decoration: none;}


//////////////// SLIDES ////////////////
#myCarousel{
	.carousel-inner{
		.item{
		width: 100vw;
	  height: 100vh;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
		}
	}
	.slide1{
		background:asset-data-url("slide01.jpg") no-repeat;

	  background-position: 0px -20%;	  
	}
	.slide2{
		background:asset-data-url("slide02.jpg") no-repeat;
	  background-position: 0px 90%;	  
	}
	.slide3{
		background:asset-data-url("slide03.jpg") no-repeat;
	  background-position: 0px 60%;	  
	}
	.slide4{
		background:asset-data-url("slide04.jpg") no-repeat;
	  background-position: 0px 85%;	  
	}
	.slide5{
		background:asset-data-url("slide05.jpg") no-repeat;
	  background-position: 0px -10%;	  
	}
	.slide6{
		background:asset-data-url("slide06.jpg") no-repeat;
	  background-position: 0px 80%;	  
	}
	.slide7{
		background:asset-data-url("slide07.jpg") no-repeat;
	  background-position: 0px 60%;	  
	}
	.slide8{
		background:asset-data-url("slide08.jpg") no-repeat;
	  background-position: 0px -20%;	  
	}
	.slide9{
		background:asset-data-url("slide09.jpg") no-repeat;
	  background-position: 0px -20%;	  
	}
	.slide10{
		background:asset-data-url("slide10.jpg") no-repeat;
	  background-position: 0px 60%;	  
	}
}



//////////////// CAROUSEL ////////////////
#playButton, #pauseButton{display:none;}
#myCarousel{
	.hashtag{
		color:$blue;
		text-decoration: underline;
		margin:0;
		font-size: 2em;
		text-shadow: 2px 2px 20px #080808;
	}
	.carousel .item img{
    width: auto;
    height: 100vh;
    min-width: 100%;
    background-size: cover;
	}
	.carousel-inner>.item>img{
		max-width:initial;
	}
	#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
	}
	.carousel-indicators{
		z-index:1;
	}
}



//////////////// COUNTDOWN ////////////////
#countdown{
  text-align:center;
  font-size:3em;
  font-weight:bold;
  padding:.5em 0;
  h2 {
    font-size: 1em;
	}
}

//////////////// OUR STORY ////////////////
#section1{
	background:asset-data-url("notebook.png") repeat;
	padding:5em 0;
	.col-centered{
		float: none;
    margin: 0 auto;
	}
	h1{
		font-size: 3em;
		margin:15px 0 0 0;
	}
	h3{
		font-weight: bold;
    color: #000000;
	}
	p, em{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.2em;
		// text-shadow: 4px 4px 5px #000000;
	}
	em{
		margin:2em 0;
		display: block;
	}
	i.fa.fa-music{
		margin: .9% .5%;
	}
	#engagement_pics{
		padding-top:2em;
	}
	.single_1 img{
		
	}
	.thumbnail{
		border:none;
		width:50px;
		height:50px;
		display: inline-block;
		margin:2% .5% 0 .5%;
		border-radius:50%;
		-moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	}
	.chris1{
		background:asset-data-url("engagement_pics.jpg") repeat 0 0;
	}
	.chris2{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -50px;
	}
	.chris3{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -100px;
	}
	.chris4{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -150px;
	}
	.chris5{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -200px;
	}
	.chris6{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -250px;
	}
	.chris7{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -300px;
	}
	.chris8{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -350px;
	}
	.chris9{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -400px;
	}
	.chris10{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -450px;
	}
	.kristy1{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -500px;
	}
	.kristy2{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -550px;
	}
	.kristy3{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -600px;
	}
	.kristy4{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -650px;
	}
	.kristy5{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -700px;
	}
	.kristy6{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -750px;
	}
	.kristy7{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -800px;
	}
	.kristy8{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -850px;
	}
	.kristy9{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -900px;
	}
	.kristy10{
		background:asset-data-url("engagement_pics.jpg") repeat 0 -950px;
	}

}

//////////////// WEDDING INFO ////////////////
#section2{
	background:asset-data-url("grey_wash_wall.png") repeat;
	padding:5em 0;
	color:#ffffff;
	h1{
		margin-top:15px;
		margin-bottom:0;
	}
	p{
		margin:0;
	}
	.subtitle{
		text-decoration: underline;
	}
	a{
		color: $blue;
    text-decoration: underline;
    font-size: 1.2em;
    font-family: 'Didact Gothic', sans-serif;
    &:hover{
    	color:$blue;
    }
	}
	i{
		color:$blue;
		margin-right:1%;
		font-size: 1.2em;
	}
}

//////////////// THE CREW ////////////////
#section3{
	background:asset-data-url("notebook.png") repeat;
	padding:5em 0;
	h1{
		margin-top:15px;
		margin-bottom:0;
	}
	h2{
		margin-bottom:0;
	}
	.carousel-indicators{
		z-index: 1;
		top:0;
		li{
			border:1px solid #333333;
		}
		.active{
			background-color:#999999;
		}
	}
	.carousel-control.left{
		background-image:none;
	}
	.carousel-control.right{
		background-image:none;
	}
	#bridesCarousel{
		.item{
			padding:1.5em 1.5em;
			img{
				height:50%;
				max-height:250px; 
				width: initial;
				max-width: 250px;
				margin:0 auto;
				border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			}
		}
		#angela{
			-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg); /* Standard syntax */
		}
		#irma{
			-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg); /* Standard syntax */
		}
		#amber{
			-ms-transform: rotate(8deg); /* IE 9 */
    -webkit-transform: rotate(8deg); /* Safari */
    transform: rotate(8deg); /* Standard syntax */
		}
		#gina{
			-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg); /* Standard syntax */
		}
		#cristina{
			-ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari */
    transform: rotate(10deg); /* Standard syntax */
		}
	}
	#groomsCarousel{
		.item{
			padding:1.5em 1.5em;
			img{
				height:50%;
				max-height:250px; 
				width: initial;
				max-width: 250px;
				margin:0 auto;
				border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			}
		}
		#peter{
			-ms-transform: rotate(13deg); /* IE 9 */
    	-webkit-transform: rotate(13deg); /* Safari */
    	transform: rotate(13deg); /* Standard syntax */
    }
	}
}

//////////////// REGISTRY ////////////////
#section4{
	background:asset-data-url("grey_wash_wall.png") repeat;
	padding:5em 0;
	color:#ffffff;
	h1{
		margin-top:15px;
		margin-bottom:0em;
	}
	p{
		margin-bottom:5%;
	}
	a{
		width:324px;
		height: 109px;
	}
	img{
		border-top:5px solid $blue;
		border-bottom:5px solid $blue;
		padding:10px 0;
	}
	img.wedding_knot{
		padding-top:0;
		border: none;
	}
	#bbb{
		margin:0 5%;
	}
}



#footer{
	background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),
	asset-data-url("footer_bg.jpg") no-repeat;
	padding-top:2.5em;
  width: 100vw;
  height: 88vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 3px 2px 10px #000000;
  position: relative;
  // &:before{
		// content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background: inherit;
  //   z-index: 0;
  //   left: 0;
  //   filter: blur(1px);
  //   -moz-filter: blur(1px);
  //   -webkit-filter: blur(1px);
  //   -o-filter: blur(1px);
  // }
	p{
		margin-top:2.5em;
		margin-bottom:0;
		color:#fff;
	}
	a{
		font-size: 2em;
	}
	h2{
		color:#ffffff;
		position: absolute;
 		bottom: 0;
 		right: 0;
	}	
}


////////////// MEDIA QUERIES //////////////
@media screen and (max-width: 1921px) {
	.carousel .item img{
		background-position: initial;
		height:100%;
	}
}	
@media screen and (max-width: 1200px) {
	#navigation .home_button a{
		left:44.5%;
	}
	#section4{
		#bbb{
			margin:0 1%;
		}
		img{
			max-width: 30%;
		}
	}
	#footer{
		background-position: 65% 0;
	}
}
@media screen and (max-width: 1100px) {
	.slide1{
  	background-position: 85% 30%;
	}
	.carousel .item img{
		width:100%;
		height: initial;
	}
	#myCarousel{
		.slide1{
	  	background-position:65% 0;
		}
		.slide2{
	  	background-position:50% 0;
		}
		.slide3{
		  background-position:33% 0;	  
		}
		.slide4{
		  background-position:55% 0;	  
		}
		.slide5{
		  background-position:57% 0;	  
		}
		.slide6{
		  background-position:80% 0;	  
		}
		.slide7{
			background-position:55% 0;
		}
		.slide8{
	  	background-position:50% 0;
		}
		.slide9{
			background-position:60% 0;
		}
		.slide10{
			background-position:72% 0;
		}
	}
	#bridesCarousel img, #groomsCarousel img{
		width: 200px;
		height: 200px;
	}

}
@media screen and (max-width: 860px) {
	#myCarousel{
		.carousel-inner{
			.item{
				width: 100%;
		  	height: 520px;
		  	background-attachment:scroll;
		  }
			.slide1{
			  background:asset-data-url("slide1med1.jpg") no-repeat;
			}
		}
	}
	#footer{
		width:100%;
		background-attachment:scroll; 
	}
}
@media screen and (max-width: 768px) {
	.navbar-nav {
    margin: 7.5px 0px;
	}
	#myCarousel{
		.carousel-inner{
			.item{
				width: 100%;
		  	height: 520px;
		  	background-attachment:scroll;
		  }
		  .slide1{
	   		background-position:65% 0;
			}	
		}
		// .slide2{
	 //  	background-position:50% 0;
		// }
		// .slide3{
		//   background-position:33% 0;	  
		// }
		// .slide4{
		//   background-position:55% 0;	  
		// }
		// .slide5{
		//   background-position:57% 0;	  
		// }
		// .slide6{
		//   background-position:80% 0;	  
		// }
		// .slide7{
		// 	background-position:55% 0;
		// }
		// .slide8{
	 //  	background-position:50% 0;
		// }
		// .slide9{
		// 	background-position:60% 0;
		// }
		// .slide10{
		// 	background-position:72% 0;
		// }
	}
	#navigation{
		ul.navbar-nav{
			margin-top:0;
			margin-bottom:0;
			padding:0;
		}
		.navbar-inverse .navbar-nav > li > a{
  	  padding: 20px;
    	font-size: 1.5em;
		}
		.navbar-inverse .navbar-nav > li {
			padding-right:0;
		}	
	}
	#countdown{
		font-size: 2.5em;
		h1{
			font-weight: bold;
			margin-top:0;
			margin-bottom:-10px;
		}
	}
	.carousel-indicators{
		z-index:1;
	}
}
@media screen and (max-width: 627px) {
	#engagement_pics{
		width:60%;
		.single_1 img{
			margin:.5em;
		}
	}
	#section4{
		img{
			max-width: 100%;
			border-bottom:none;
		}
		#williams{
			border-bottom:5px solid $blue;
		}
		#bbb{
			margin: 0;
		}
	}
	#footer{
		width:100%;
		height: 100%;
		background-attachment:scroll;
		background-position: 45% 0;
		padding-bottom: 5em;
		p{
			margin-top: 1.5em;
		}
		h2{
			font-size: 1.3em;
		}
	}
}
@media screen and (max-width: 500px) {
	#myCarousel{
		.carousel-indicators{
			bottom:25px;
		}
		.carousel-inner{
			.slide1{
				background:asset-data-url("slide1med1.jpg") -360px 20px no-repeat;
			}
		}	
	}
	#section1{
		#engagement_pics {
    	width: 75%;
		}
	}
	#section3{
			.carousel-indicators{
				display: none;
		}
		#bridesCarousel{
			.item{
				padding:1.5em 0;
			}
		}
		#groomsCarousel{
			.item{
				padding:1.5em 0;
			}
		}
	}
	#footer{
		height:600px;
		a{
			display: block;
			margin-bottom: 1%;
		}
	}
}
@media screen and (max-width: 430px) {
	.carousel-indicators{
		bottom:0;
	}
	#countdown{
		font-size: 1.7em;
	}
	#section1{
		i.fa.fa-music{
			font-size:3em;
			margin:0 2.5%;
		}
		#engagement_pics {
    	width: 90%;
		}
	}
	#section2{
		i.fa.fa-map-marker{
	    margin-right: -5%;
	    font-size: 4em;
	  }
		a{
			display: inline-block;
			width:49%;
		}
	}
}
@media screen and (max-width: 375px) {

	#myCarousel{
		.carousel-indicators{
			bottom:25px;
		}
		.carousel-inner{
			.slide1{
				background:asset-data-url("slide01med.jpg") -370px 20px no-repeat;
			}
			.slide2{
				background:asset-data-url("slide02med.jpg") -240px 10px no-repeat;
			}
			.slide3{
				background:asset-data-url("slide03med.jpg") -180px 10px no-repeat;
			}
			.slide4{
				background:asset-data-url("slide04med.jpg") -290px 10px no-repeat;
			}
			.slide5{
				background:asset-data-url("slide05med.jpg") -300px 25px no-repeat;
			}
			.slide6{
				background:asset-data-url("slide06med.jpg") -450px 25px no-repeat;
			}
			.slide7{
				background:asset-data-url("slide07med.jpg") -300px 25px no-repeat;
			}
			.slide8{
				background:asset-data-url("slide08med.jpg") -300px 40px no-repeat;
			}
			.slide9{
				background:asset-data-url("slide09med.jpg") -300px 40px no-repeat;
			}
			.slide10{
				background:asset-data-url("slide10med.jpg") -480px 40px no-repeat;
			}
		}	
	}
	#section2{
		a{
			width:55%;
		}
	}
	#section3{
		#bridesCarousel{
			.carousel-indicators{
				width:62%;
			}
			.item{

			}
		}
		#groomsCarousel{
			.item{

			}
		}
	}
}
@media screen and (max-width: 320px) {
	#section1{
		#engagement_pics {
    	width: 100%;
    	.single_1 img{
				margin:.3em;
			}
		}
	}
	#section2{
		a{
			width:65%;
		}
	}
	#section3{
		#bridesCarousel{
			width:100%;
			.item{
				padding:1.5em 0 0 0;
			}
		}
	
		#groomsCarousel{
			width:100%;
			.item{
				padding:1.5em 0 0 0;
			}
		}
	}
	#section4{
		img{
			border-top:5px solid $blue;
			margin:2% 0;
			max-width: 90%;
		}
		#bbb{
			margin:0;
		}
	}
	#footer{
		height: 650px;
		h2{
			font-size: 1.7em;
		}
	}
}











